body {
  display: flex;
  justify-content: center;
  background: white;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  width: 375px;
  background: black;
  padding-top: 64px;

  height: 100vh;
  font-family: 'Muli';
}

.notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: min-content;
  padding: 16px;
}

.picture {
  min-width: 48px;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: #FFEBE0;
  margin-right: 16px;
}

.text {
  color: #BDBDBD;
}

.bold {
  display: inline-block;
  color: white;
  margin-right: 4px;
}
